@import url('https://fonts.googleapis.com/css?family=Raleway');

body, h1, h2 {font-family:'Titillium Web',Raleway,'Helvetica Neue',sans-serif!important}

/* add NearIT logo */
a.icon-home {
  color: transparent;
  width: 225px;
  height: 50px;
  margin: 5px 0 15px 20px;
  background-repeat: no-repeat !important;
  background-image: url(https://go.nearit.com/assets/logo.svg) !important;
}

/* change nav header color to nearit color */
.wy-side-nav-search {background-color:#A69FFF !important}
/* also for the mobile version */
.wy-nav-top {background: #A69FFF !important}

/* indent selected items from left list */
.wy-menu-vertical li.current > a  {padding-left:30px !important}
.wy-menu-vertical li.current ul li a {padding-left:40px !important}

/* bigger font on section names */
.wy-menu-vertical span {font-size: 100% !important}

/* hide the first child from the list of quicklinks, so we can still have h1 elements on top of md pages */
.wy-menu-vertical li.current ul li:first-child {display: none}

/* bigger links in left list */
.wy-menu-vertical a {font-size: 100% !important}

/* bigger text in code elements */
code {font-size: 14px !important}

/* bigger text in tables */
th, td {font-size: 100% !important}

/* fixaround to not show giant badges on mobile IT WILL AFFECT ALL IMG ELEMENTS */
.rst-content img { width: auto }

/* remove home icon */
.fa-home:before, .icon-home:before {content:None !important}
